{{!-- header --}}
<h1>Character Creator</h1>
{{!-- action form to capture user input --}}
<form>
	{{!-- character class options for new character --}}
	Character Class:
	<select id="class">
		<option value="Wizard">Wizard</option>
		<option value="Warrior">Warrior</option>
		<option value="Rogue">Rogue</option>		
	</select>
	{{!-- get a character name --}}
	Character First Name:
	<input type="text">
	{{!-- get a character last name --}}
	Character Last Name:
	<input type="text">
<button id = "submitCharacter">Submit Your Character</button>

</form>