<div class="mainpage-col">
	{{!-- header --}}
	<h1>Character Creator</h1>
	<a href="/menu">
		<button type="button" class="btn btn-secondary btn-rounded" id="menuBtn">Back to the menu!</button>
	</a>
		 {{!-- action form to capture user input --}}
	<form>
		{{!-- character class options for new character --}}
		<h3>Character Class:</h3>

		<select class="btn" id="class">

			<option value="Wizard">Wizard</option>
			<option value="Warrior">Warrior</option>
			<option value="Rogue">Rogue</option>
		</select>

		<div>
			<img id="displayChar" src="">
		</div>

		{{!-- get a character name --}}
		<h3>Character First Name:</h3>

		<input type="text">
		<p></p>
		{{!-- get a character last name --}}
		<h3>Character Last Name:</h3>
		<input type="text" id="charName2">
		<p></p>
		<button id="submitCharacter" type="button" class="btn btn-success">Submit Your Character</button>

	</form>
</div>
<script>
	var cookies = Cookies.get('id_token');
	console.log(cookies)
	if (cookies == undefined) {
		location.href = "/";
	}
</script> {{!-- look up "select on change javascript" --}}