<a href="/menu">
	<button type="button" class="btn btn-secondary btn-rounded" id="menuBtn">Back to the menu!</button>
</a>

<div id="charFight">
	<img id="displayChar" src="">
</div>

<div id="monFight">
	<img id="displayMon" src="">
</div>

<script>
if (newChar.character_class === "Wizard") {
		$('#displayChar').attr("src", "/assets/characterimages/wizard.png");
	}
	else if (newChar.character_class === "Warrior") {
		$('#displayChar').attr("src", "/assets/characterimages/warrior.png");
	}
	else {
		$('#displayChar').attr("src", "/assets/characterimages/rogue.png");
	}
</script>