<div class="row" id="fightGame">
	<div class="col"></div>
	<div class="col fightpage-col"></div>
			<img src="./images/bk-moon1.jpg" class="img-fluid" alt="Broken Moon">
</div>

<a href="/menu">
	<button type="button" class="btn" id="menuBtn">Back to the menu!</button>
</a>

<div class= "charFight">
	<img class="displayFightChar" src="/assets/characterimages/wizard.png">
</div>

<div class= "monFight">
	<img class="displayFightMon" src="/assets/bossimages/pride.png">
</div>

