<a href="/menu"><button type="button" class="btn btn-secondary btn-rounded" id = "menuBtn">Back to the menu!</button></a>

<div id = "monsterImg"></div>


<script>
					$.post("/api/characters", userData).then(function(res){
						console.log(res);
						$('#monsterImg').attr("src", res.photo);
					})
					</script>