
<div class="row gameOver">
	<div class="col"></div>
	<div class="col mainpage-col">
		<img src="./images/gameover.png" class="img-fluid" alt="game over">
		<div class="g-over" data-theme="dark"></div>

		<a class="btn btn-restart" href="/menu" role="button">Restart</a>


	</div>
	<div class="col"></div>
</div>

