
<div class="row menuGame">
	<div class="col"></div>
	<div class="col mainpage-col">
		<img src="./images/broken-moon.png" class="img-fluid" alt="Broken Moon">
		<img src= "./images/brokenmoontitle.png"
		class="img-fluid" alt="Broken Moon">
		<div class="g-menu" data-theme="dark"></div>



		<a class="btn btn-characterCreate" href="/character_creator" role="button">Character Creation</a>

		<a class="btn btn-characterSelect" href="/character_selector" role="button">Character Selection</a>

		{{!-- logout btn --}}
		<button type="button" class="btn btn-danger btn-rounded" id="logout" onclick="signOut();">Sign Out</button>


	</div>
	<div class="col"></div>
</div>

{{!-- JS --}}
<script>
//check for login then redirect if not
	var cookies = Cookies.get('id_token');
	console.log(cookies)
	if (cookies == undefined) {
		location.href = "/";
	}
// end login check
//user data pull info
	$.ajax({
		url: "/api/user/info",
		type: "GET",
		data: {
			id_token: cookies
		},}).then(function (data) {
		console.log("databse user", data);
	})
//end user data pull
//logout
	function signOut() {
		Cookies.remove('id_token');
		document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://the-broken-moon.herokuapp.com/"
	}
// end logout
</script>

