{{!-- logout btn --}}
<button type="button" class="btn btn-danger btn-rounded" id="logout" onclick="signOut();">Sign Out</button>



{{!-- JS --}}
<script>
	//var profile = require("profile");
	//logout
	//console.log(profile);
	function signOut() {
		document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://the-broken-moon.herokuapp.com/"
	}
				// end logout
</script>