body{
	margin: auto;	
	width: 80%;
	background-color: black;
	font-family: 'Press Start 2P', cursive;
}
.mainpage-col{
	align-content: center;
	text-align:center;
}
.img-center{
	width: 10%;
}
h1,p,h3{
	color: white;
}
hr{
	border-style: solid;
	border-width: 5px;
border-color: white, 1px;
}
.btn{
	background-color: #505050;
	font-family: 'Press Start 2P', cursive;
}

.g-signin2{
text-align: center;
}

.g-signin2 > div{
  margin: 0 auto;
}

input[type=text] {
	background-color: #505050;
	color: white;
}


#displayChar{
	background-color: #505050;
}

#displayChar{
	width: 25%;
}

#fightGame {
		background: url("/public/images/bk-moon1.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	 }


#monsterDiv {
	position: absolute;
	top: 48%;
	width: 70%;
	left: 16%;
}

.displayFightMon {
	height: 25%;
	width: 32%;
	position: relative;
	bottom: 220%;
	left: 60%;
}

.charFight {
	position: absolute;
	top: 65%;
	width: 70%;
}

.displayFightChar {
	height: 10%;
	width: 10%;
	bottom: 240%;
	position: relative;
}
